// component css goes here
.user-menu-header{
    text-align: center;
    margin-bottom: 3rem
}

.t-right{
    text-align: right;
}

.t-left{
    text-align: left;
}

.p-button{
    width: 100%;
}

h5{
    overflow: hidden;
    text-overflow: ellipsis;
}
